@using Microsoft.AspNetCore.Components.Routing

<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink href="/events" class="nav-link" Match="NavLinkMatch.All">
                Events
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/events/1/attendance" class="nav-link">
                Attendance
            </NavLink>
        </li>
    </ul>
</nav>
